body {
  background-color: #f6f6f6;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  color: #645f5f;
  caret-color: rgb(255, 0, 43);
}

.hidden {
  visibility: hidden;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  box-shadow: 3px 2px 4px gray;
}

.todo > div,
.task {
  min-width: 400px;
  max-width: 550px;
  justify-content: space-between;
  border-bottom: 1px solid #dcdbdb;
}

.todo .header {
  background-color: #dcdbdb;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.todo .add_task {
  background-color: #dcdbdb;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.todo .header h1 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #645f5f;
}

.todo .tasks,
.todo .add_task {
  background-color: white;
}

.todo .add_task,
.task {
  padding: 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  transition: background-color 0.5s ease;
}

.todo .tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input,
input:focus,
textarea:focus,
select:focus {
  border: 0;
  outline: 0;
  font-size: 14px;
  color: #222;
  line-height: 28px;
  margin-right: 10px;
  transition: background-color 0.5s ease;
}

.tasks input {
  color: black;
}

.task:focus-within {
  background-color: rgb(255, 251, 0);
}

.task:focus-within input {
  background-color: #888;
  transition: background-color 0s ease;
}

input::placeholder {
  font-style: italic;
}

.rotate {
  transform: rotate(90deg);
}

.todo .footer {
  text-align: center;
  color: grey;
  display: flex;
  justify-content: center;
  padding: 20px;
}
